<nav class="navigation-bar">
<div class="row nav-bar">
     <div class="col-xs-2 app-header">shopYcart</div>
     <div class="col-xs-2 app-cat dropdown ">
     <span class="dropbtn">Categories</span>
     <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
  </div>
   
     <div class="col-xs-1 app-about">About</div>
     <div class="col-xs-1 app-contact">Contact Us</div>

</div>

</nav>